//extends layout
html
    title=title
    script(src='js/dash.all.debug.js')
    script(src='https://aframe.io/releases/0.9.1/aframe.min.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
body
    //script(type="module" src="js/graph.js")
    script(type="module" src="js/view.js")
    a-scene(main="" raycaster="" curosr="rayOrigin: mouse")
        a-assets
            video(id="view" crossorigin="anonymous" src="video/v2/v2_dash.mpd")
            img(id="direction" src="image/arrow.png")

        a-entity(look-controls="" camera="" id="camera" rotation="0 90 0" position="0 0.08 0" fov="60")
            a-cursor(id="cursor")

        a-videosphere(id="vr_view" src="#view" rotation="0 90 0")
        a-entity(id="arrow" geometry="primitive:cylinder; height:0.03; radius:0.25" material="src:#direction; alphaTest:0.55; opacity:0.8" rotation="0 0 30" position = "3 1.5 0" visible = "false")

        a-entity(id="view_sphere" rotation="0 180 0")
            a-entity(view="" id="v1" geometry="primitive: box; width:0.3; height:0.3; depth:0.3" position="-3 0.08 0")
            a-entity(view="" id="v2" geometry="primitive: box; width:0.3; height:0.3; depth:0.3" position="0 0.08 0")
            a-entity(view="" id="v3" geometry="primitive: box; width:0.3; height:0.3; depth:0.3" position="3 0.08 0")
            a-entity(view="" id="v4" geometry="primitive: box; width:0.3; height:0.3; depth:0.3" position="-3 0.08 3.5")
            a-entity(view="" id="v5" geometry="primitive: box; width:0.3; height:0.3; depth:0.3" position="3 0.08 3.5")
